html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Poppins';
}

p {
    font-family: 'Poppins';
    font-size: 1.5rem;
}

a {
    font-family: 'Poppins';
    font-size: 1.5rem;
}

@media (min-width: 1904px){

    .container.shrink-width {
        max-width: 1185px;
    }
}