html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Poppins';
    color: $primary-text;

    span {
        color: $primary-red;
    }
}

h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2rem;
}

p {
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: $secondary-text;
}

ul li {
    font-family: 'Poppins';
    font-size: 1.6rem;
}

a {
    font-family: 'Poppins';
    font-size: 1.5rem;
}

@media (min-width: 1904px){

    .container.shrink-width {
        max-width: 1185px;
    }
}