@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    font-family: 'Poppins', 'sans-serif';
}

.v-application {
    font-family: 'Poppins', 'sans-serif';
}

h1, h2, h3, h4 {
    color: $primary-text;

    span {
        color: $primary-color;
    }
}

h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    letter-spacing: 3px;
}

h3 {
    letter-spacing: 2px;
}

h4 {
    font-size: 2rem;
    letter-spacing: 2px;
}

p {
    font-size: 1.6rem;
    color: $secondary-text;
    letter-spacing: 1px;

    span {
        color: $primary-color;
        font-size: 1.8rem;
    }
}

ul li {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

a {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: none;
}
