.text--blue {
  .v-btn__content {
    color: $primary-color;
  }
}

.text--white {
  .v-btn__content {
    color: #fff;
  }
}

@media (min-width: 1904px){

  .shrink-width {
    max-width: 1300px;
  }
}
