.gallery-image {
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ebebeb;
	margin: 5px;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

.v-slide-group.v-item-group>.v-slide-group__next, .v-slide-group.v-item-group>.v-slide-group__prev {
	transform: skewX(15deg);

	i {
		color: #000000;
		font-size: 30px;
	}
}

@media screen and (max-width: 768px) {
	
	.gallery-image {
		width: 150px !important;
	}
}