$navWidth: 350px;
$hamburgerSize: 60px;

.menu-container {
  &__collapse {
    display: none;
  }

  &__menu {
    display: flex;
    flex-flow: row nowrap;
  }

  &__menu-close {
    display: none;
  }

  &__menu-block {
    list-style: none;
    padding: 0 14px;

    a {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.5s ease;
      text-decoration: none;

      &:hover {
        color: $primary-color;
        transition: 0.3s;
      }
    }
  }
}
.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu-container {
    &__menu {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #0e0e0e;
      clip-path: circle(
        29px at calc(#{$navWidth} - 5vw - #{$hamburgerSize / 2})
          calc(5vh + #{$hamburgerSize / 2})
      );
      transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      z-index: 10;
      &.active {
        clip-path: circle(75% at #{$navWidth / 2} 50vh);
      }
    }

    &__menu-block {
      flex: 0 0 auto;
      padding: 15px;

      a {
        color: #fff;
      }
    }
  }
  .hamburger {
    $p: &;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    z-index: 11;
    top: 0;
    right: -12px;
    &__patty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 50%;
      backgroud-clip: padding-box;
      background: darken(white, 3);
      transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 8px));
      }

      &:last-child {
        transform: translate(-50%, calc(-50% + 8px));
      }
    }
    &.active {
      #{$p}__patty {
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}
