.wire-harness-container {

	h2 {
		font-size: 3rem;
		color: #fff;
	}

  .v-parallax__image {
    filter: brightness(45%);
  }

	p {
		color: #fff;
	}

	.wire-harness-container__btn {
    border: 2px solid $primary-color;
    font-size: 1.6rem;
    font-family: 'Poppins';

    &:hover:before {
      background-color: $primary-color;
      opacity: 1;
    }

    &.v-btn:before {
      transition: 0.4s ease-in-out;
    }

    .v-btn__content a {
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
}

.wires-and-harness-container {

  p {

    span {
      color: $primary-color;
      font-size: 1.8rem;
    }
  }
}
