.contact-container {
  background-color: $secondary-black;

  .home-contact-btn {
    border: 2px solid $primary-color;
    font-size: 1.6rem;
    font-family: 'Poppins';

    &:hover:before {
      background-color: $primary-color;
      opacity: 1;
    }

    &.v-btn:before {
      transition: 0.4s ease-in-out;
    }

    .v-btn__content {
      color: #fff;
      font-size: 1.4rem;
    }
  }

  h2 {
    font-size: 3rem;
    color: #fff;

    span {
      color: $primary-color;
    }
  }
}
.contact-dialog {
  background-color: #fff;

  p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.contact-us-container {

  .v-input .v-label, .v-file-input .v-file-input__text {
    font-size: 1.2rem;
    font-family: 'Poppins';
  }
  
  .v-icon {
    font-size: 1.8rem;
    margin-right: 8px;
    margin-top: 5px;
    vertical-align: baseline;
  }

  .v-text-field__details {
    display: none;
  }
}