.footer-container {
    background-color: $secondary-black;

    .footer-block {

        p {
            color: #5e5e5e;
            margin-bottom: 0;
            font-size: 1.1rem;
        }
    }
}