.gallery-image {
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #ebebeb;
	margin: 5px;
	transition: all 0.3s;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}

@media screen and (max-width: 768px) {
	
	.gallery-image {
		width: 150px !important;
	}
}