.header-container {
    background-color: #0e0e0e;
    
	.header-collapse-menu {
			display: none;
	}

	.menu {
		display: flex;
		flex-flow: row nowrap;

		.menu-block {
			list-style: none;
			padding: 0 14px;

			a {
				color: #fff;
				font-size: 1.5rem;
				text-transform: uppercase;
				font-weight: 600;
				transition: all .5s ease;
				text-decoration: none;

				&:hover {
						color: $primary-color;
						transition: 0.3s;
				}
			}

			.submenu-wrapper {
				position: relative;
			}

			.sub-hidden {
				opacity: 0;
				position: absolute;
				transition: opacity 0.2s ease-in;
				padding-left: 0;
				min-width: 205px;
				z-index: 8;
				background-color: rgba(30, 30, 30, 0.97);
				border-radius: 0 0 4px 4px;
				left: -24px;
				top: 35px;

				.submenu-block {
						list-style: none;
						padding: 12px 25px 12px;

						a {
								text-transform: capitalize;

								&:hover {
										color: #fff;
								}
						}

						&:hover {
								background-color: #313131;
						}
					}
				}

				&.submenu:hover {

					.sub-hidden {
						opacity: 1;
					}
				}
			}
	}
}

.navbar-btn.theme--dark.v-btn:hover:before, .navbar-link.theme--dark.v-btn:hover:before {
    opacity: 0;
} 

.v-btn.navbar-btn {

    .v-btn__content {
			font-weight: 700;
			font-size: 1.5rem;

			&:after {
				content: "\02C5";
				font-family: "FontAwesome";
				display: inline-block;
				top: 0;
				font-size: 12px;
				position: relative;
				left: 6px;
				border-top-color: transparent;
			} 
    }
    
    &:hover{
        .v-btn__content {
            color: #781212;
            transition: all .5s ease;
        }
    } 
}

.v-btn.navbar-link {

    .v-btn__content {
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    &:hover{
        .v-btn__content {
            color: #781212;
            transition: 0.3s;
        }
    } 
}

@media screen and (max-width: 768px) {

	.header-container {

		.header-logo-col .v-image {
				max-width: 230px !important;
		}

		.header-collapse-menu {
				display: block;

				span {
						font-family: 'FontAwesome';
						display: inline-block;
						
						&:after {
								content: '\f0c9';
								color: #fff;
								font-size: 28px;
						}
				}
		}

		.menu {
			visibility: hidden;
			opacity: 0;
			position: fixed;
			z-index: 1000;
			background: #0E0E0E;
			flex-direction: column;
			left: 30%;
			right: 0;
			top: 0;
			bottom: 0;
			transition: all 0.3s;
			transform: translateX(500px);
			padding-top: 25% !important;
			justify-content: flex-start !important;

			.menu-close {
				color: #fff;
				position: fixed;
				top: 10px;
				font-size: 22px;
				right: 16px;
				z-index: 1001;
				cursor: pointer;
			}

			&.active {
					visibility: visible;
					opacity: 1;
					transform: translateX(0);
			}

			.menu-block {
					flex: 0 0 auto;
					padding: 15px;

					a {
						color: #fff;
					}
			}
		}

		.header-logo-col .v-image {
			max-width: 150px !important;
		}
	}
}