.home-cat-container {
    background: url('/images/shadow.png') no-repeat center top;
    margin-top: 48px;
}

.round-block {
    display: inline-block;
    transition: all ease-in-out .3s;
    text-decoration: none;

    &:hover {
        transform: translateY(-2%);
    }
}

.round-img-block {

    .v-image {
			border: 3px solid #888888;
			border-radius: 50%;
			margin: 0 auto;
	}
}


.round-contents-block {

    h2 {
        color: #888888;
        font-weight: 500;
        letter-spacing: -0.25px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 768px) {
	
	.round-img-block {

		.v-image {
				height: 150px !important;
				max-width: 220px !important;
		}
	}
}