.prefooter-container {
    background-color: #0E0E0E;

    .prefooter-block {
        list-style: none;

        li:before {
            content: $fa-var-arrows;
            font-family: "FontAwesome";
            font-size: 8px;
            color: #c7a681;
            margin-right: 10px;
            top: -1px;
            position: relative;
        }

        .prefooter-block-link {
            color: $primary-text;
            text-decoration: none;
            transition: all .5s ease;

            &:hover {
                color: #781212;
            }
        }
    }
}
