.prefooter-container {
  background-color: #121214;
}
.prefooter-container .prefooter-block {
  list-style: none;
}
.prefooter-container .prefooter-block li:before {
  content: "\f26e";
  font-size: 8px;
  color: #c7a681;
  margin-right: 10px;
  top: -1px;
  position: relative;
}
.prefooter-container .prefooter-block .prefooter-block-link {
  color: #888888;
  text-decoration: none;
  transition: all 0.5s ease;
}
.prefooter-container .prefooter-block .prefooter-block-link:hover {
  color: #781212;
}
