.splash-container {
  border-bottom: 1px solid #222121;
  border-top: 1px solid #222121;

  .carousel-block {
      overflow: visible;

    .v-carousel__controls {
        bottom: -49px;
        padding: 20px 0 29px 0;
        background-color: $secondary-black;

      .v-btn--icon.v-size--small {
        height: 12px;
        width: 12px;
      }
    }
  }

  .v-btn:before {
    opacity: 0.3;
  }

  .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {

  .splash-container .carousel-block {
    height: 400px !important;

    .v-image {
      height: 400px !important;
    }
  }
}
