.wholesale-view-container {

	h2.subcat-title {
		font-size: 3rem;
		color: $primary-red;
		text-transform: uppercase;
	}

	h3 {
		font-size: 2.4rem;

		span {
			color: $primary-red;
		}
	}

	.wholesale-click-picture {
		font-size: 1.8rem;

		span {
			color: $primary-red;
		}
	}

	.round-img-block {
		display: inline-block;
	}
	
	.wholesale-subcat-info {

		h3 {
			text-transform: uppercase;
		}

		ul {
			list-style: none;

			li {
				font-size: 1.6rem;
				color: $secondary-text;

				&:before {
					content: '\f192';
					font-family: "FontAwesome";
					font-size: 8px;
					color: #781212;
					margin-right: 10px;
					top: -1px;
					position: relative;
				}
			}
		}
	}

	h4 {
		color: $primary-text;
	}

	.mini-gallery-slide {
		
		.v-slide-group__prev .v-icon:before {
			content: '\f060';
			font-family: "FontAwesome";
			font-size: 18px;
			color: $primary-red;
		}

		.v-slide-group__next .v-icon:before {
			content: '\f061';
			font-family: "FontAwesome";
			font-size: 18px;
			color: $primary-red;
		}
	}
}
